/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  position: relative;
  padding: 80px 0;
  .row{
    max-width: 100%;
  }
  .container{
    position: relative;
    text-align: left;
    background: rgba(255,255,255,0.85);
    margin-left: 128px;
    max-width: 632px;
    margin: 0 auto 0 0;
    padding: 77px 0 47px;
    &::before{
      content: '';
      width: 10px;
      height: 200px;
      background: #CE3438;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .text{
      margin-left: 215px;
      h2{
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 30px;
        color: #262626;
        letter-spacing: 6px;
        line-height: 35px;
      }
      p{
        &:nth-of-type(1){
          margin: 0 auto 0 0;
          max-width: 382px;
          font-family: 'Raleway';
          font-weight: 400;
          font-size: 17px;
          letter-spacing: 1px;
          line-height: 160%;
          color: #666666;
        }
        &:nth-of-type(2){
          margin: 0 auto;
          font-family: 'Anton';
          font-weight: 400;
          font-size: 60px;
          color: #CE3438;
          line-height: 75px;
          span{
            display: inline-block;
            vertical-align: sub;
          }
        }
        &:nth-of-type(3){
          margin: 0 auto;
          font-family: 'Montserrat';
          font-weight: 700;
          font-size: 23px;
          color: #262626;
          letter-spacing: 1px;
          line-height: 27px;
          span{
            display: block;
          }
        }
        &:nth-of-type(4){
          margin: 0 auto;
          font-family: 'Raleway';
          font-weight: 600;
          font-size: 18px;
          color: #666666;
          letter-spacing: 1px;
          line-height: 25px;
        }
      }
    }
  }
}
