/*footer*/

#footer {
  position: relative;
  background: url(../images/common/bgFooter.jpg)no-repeat center top;
  background-size: cover;
  padding: 67px 0 16px;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .row{
    max-width: 1170px;
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 67px;
    border-bottom: 1px solid #D6D6D6;
   .footLeft{
     text-align: left;
     h2{
       color: #000000;
     }
   }
   .footLeft2{
     text-align: left;
     h4{
       margin-bottom: 25px;
     }
     p{
       margin: 0;
       font-family: "Raleway";
       font-weight: 400;
       font-size: 16px;
       color: #666666;
       line-height: 200%;
       .ft-phone{
         padding-left: 43px;
         background: url(../images/common/icons-sprites.png)no-repeat 0 3px;
       }
       .ft-email{
         padding-left: 43px;
         background: url(../images/common/icons-sprites.png)no-repeat 0 -30px;
       }
       .ft-location{
         padding-left: 43px;
         background: url(../images/common/icons-sprites.png)no-repeat 0 -63px;
         span{
           display: inline-block;
           vertical-align: top;
         }
       }
     }
     img{
       margin-top: 50px;
     }
   }
   .footMid{
     text-align: left;
     h4{
       margin-bottom: 25px;
     }
     ul{
       margin: 0;
       padding: 0;
       li{
         display: block;
         line-height: 200%;
         a{
           font-family: "Raleway";
           font-weight: 400;
           font-size: 16px;
           color: #666666;
         }
       }
     }
   }
   .footRight{
     max-width: 29px;
     width: 100%;
     p{
       margin: 0;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       height: 211px;
       align-content: space-between;
       justify-content: space-between;
       a{
         font-family: "Socialico";
         font-size: 30px;
         color: #000000;
       }
     }
   }
  }
  .footBot{
    padding: 47px 0 20px;
    .footLogo{
      max-width: 465px;
      width: 100%;
      margin-bottom: 70px;
    }
    .copy, .silver{
      margin: 0 auto;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 10px;
      color: #666666;
      letter-spacing: 6px;
      line-height: 120%;
    }
  }
  &::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,#CE3438 30%,#262627 0);
  }
}
