/*header*/

#header {
  background: #FFF;
  padding: 24px 0 21px;
  &::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,#CE3438 30%,#262627 0);
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          position: relative;
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 600;
          color: #777777;
        }
        &.active-menu a, a:hover {
          color: #CE3438;
          &::before{
            content: '';
            width: 127.2%;
            height: 6px;
            background: #CE3438;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .hdRight{
      max-width: 876px;
      width: 100%;
    }
  }
}
