/*-------------------------------secetion5-------------------------------*/
#section5{
  background: url(../images/common/bgSection5.jpg)no-repeat center top;
  background-size: cover;
  padding: 108px 0 103px;
  h2{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 6px;
    color: #FFFFFF;
    span{
      display: block;
    }
  }
}
