/*-------------------------------section1-------------------------------*/
#services{
  background: url(../images/common/bgServices.jpg)no-repeat center top;
  background-size: cover;
  padding: 67px 0 54px;
  .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    dl{
      max-width: 282px;
      width: 100%;
      dt{
        img{
          width: 100%;
          &.firstSvc{
            max-width: 207px;
          }
        }
      }
      dd{
        margin: 0;
        p{
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 18px;
          color: #59595D;
          line-height: 160%;
          min-height: 51px;
        }
        a img{
          transition: all 0.5s ease-in;
        }
        a img:hover{
          filter: grayscale(1) invert(1) brightness(130%);
        }
      }
    }
  }
}
