/*-------------------------------section3-------------------------------*/
#service2{
  padding: 53px 0 51px;
  .wrapper{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    dl{
      max-width: 326px;
      dt{
        img{
          max-width: 100px;
          width: 100%;
        }
      }
      dd{
        padding: 20px 0 0;
        margin: 0;
        h4{
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 15px;
          color: #5C5C5D;
        }
        p{
          font-family: "Raleway";
          font-weight: 400;
          font-size: 13px;
          color: #666666;
          line-height: 160%;
        }
        .more{
          position: relative;
          font-family: "Montserrat";
          font-size: 10px;
          font-weight: 600;
          height: 77px;
          color: #CD3338;
          max-width: 77px;
          &:after{
            content: '';
            width: 70px;
            height: 6px;
            background:#CD3338;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s ease;
          }
          &:hover:after{
            bottom: -25px;
          }
        }
      }
    }
  }
}
