/*-------------------------------section2-------------------------------*/
#about{
  background: url(../images/common/bgAbout.jpg)no-repeat right top;
  background-size: 69.3125% 100%;
  padding: 85px 0;
  .row{
    max-width: 100%
  }
  .abtLeft{
    position: relative;
    width: 34.625%;
    margin: 0 auto 0 0;
    text-align: left;
    background:#FFF;
    box-shadow: 10px 0 20px -5px;
    &::before{
      content: '';
      width: 10px;
      height: 200px;
      background: #CE3438;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .text{
      background: #FFFFFF;
      text-align: left;
      max-width: 250px;
      width: 100%;
      margin: 0 91px 0 auto;
      padding: 70px 0;
      h1{
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 30px;
        color: #000000;
        letter-spacing: 6px;
        line-height: 160%;
        span{display: block;}
      }
      p{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 13px;
        color: #666666;
        line-height: 160%;
        span{
          display: block;
        }
      }
    }
  }
  .abtRight{
    padding: 70px 0;
    max-width: 841px;
    width: 100%;
    margin: 0 auto 0 53px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    .text{
      text-align: left;
      max-width: 568px;
      width: 100%;
      h3{
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 5px;
        line-height: 25px;
      }
      p{
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
        color: #FFF;
        margin: 0.5em auto;
      }
      ul{
        padding: 0 0 0 20px;
        margin-top: 30px;
        list-style: square inside url('../images/common/bullet.png');
        li{
          font-family: 'Raleway';
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
          line-height: 200%;
          span{
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
