/*------------------------------section4------------------------------*/
#section4{
  background: url(../Images/common/bgSection4.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 51px 0 116px;
  .row{max-width: 100%}
  .s4Left{
    position: relative;
    background: #FFF;
    width: 34.625%;
    min-height: 444px;
    box-shadow: 10px 0 40px -20px;
    &::before{
      content: '';
      width: 10px;
      height: 200px;
      background: #CE3438;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .s4Right{
    padding: 155px 0;
    h2{
      margin-left: 117px;
      font-family: "Montserrat";
      font-size: 30px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 6px;
      color: #FFFFFF;
      span{
        display: block;
      }
    }
  }
}
