h1 {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 6px;
}
h2{
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 6px;
  color: #FFFFFF;
  span{
    display: block;
  }
}
h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #5B5B5D;
  line-height: 160%;
}
