@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Raleway'; src: url("fonts/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Anton'; src: url("fonts/Anton.woff2") format("woff2"), url("fonts/Anton.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Raleway'; src: url("fonts/Raleway-SemiBold.woff2") format("woff2"), url("fonts/Raleway-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1280px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1280px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-size: 12px; font-weight: 600; color: #FFF; display: inline-block; padding: 24px 0; background: #CE3438; border-radius: 200%; max-width: 84px; width: 100%; height: auto; line-height: 150%; border: 1px solid transparent; -webkit-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Montserrat"; font-size: 30px; font-weight: 600; line-height: 160%; letter-spacing: 6px; }

h2 { font-family: "Montserrat"; font-size: 30px; font-weight: 600; line-height: 160%; letter-spacing: 6px; color: #FFFFFF; }

h2 span { display: block; }

h4 { font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #5B5B5D; line-height: 160%; }

/*header*/
#header { background: #FFF; padding: 24px 0 21px; }

#header::before { content: ''; width: 100%; height: 3px; position: absolute; top: 0; left: 0; right: 0; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #CE3438), color-stop(0, #262627)); background: -webkit-linear-gradient(left, #CE3438 30%, #262627 0); background: -o-linear-gradient(left, #CE3438 30%, #262627 0); background: linear-gradient(to right, #CE3438 30%, #262627 0); }

#header nav a#pull { display: none; }

#header nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; margin: 0; padding: 0; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { position: relative; font-family: "Montserrat"; font-size: 12px; font-weight: 600; color: #777777; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #CE3438; }

#header nav ul li.active-menu a::before, #header nav ul li a:hover::before { content: ''; width: 127.2%; height: 6px; background: #CE3438; position: absolute; bottom: -20px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .wrapper .hdRight { max-width: 876px; width: 100%; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; position: relative; padding: 80px 0; }

#banner .row { max-width: 100%; }

#banner .container { position: relative; text-align: left; background: rgba(255, 255, 255, 0.85); margin-left: 128px; max-width: 632px; margin: 0 auto 0 0; padding: 77px 0 47px; }

#banner .container::before { content: ''; width: 10px; height: 200px; background: #CE3438; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#banner .container .text { margin-left: 215px; }

#banner .container .text h2 { font-family: "Montserrat"; font-weight: 700; font-size: 30px; color: #262626; letter-spacing: 6px; line-height: 35px; }

#banner .container .text p:nth-of-type(1) { margin: 0 auto 0 0; max-width: 382px; font-family: 'Raleway'; font-weight: 400; font-size: 17px; letter-spacing: 1px; line-height: 160%; color: #666666; }

#banner .container .text p:nth-of-type(2) { margin: 0 auto; font-family: 'Anton'; font-weight: 400; font-size: 60px; color: #CE3438; line-height: 75px; }

#banner .container .text p:nth-of-type(2) span { display: inline-block; vertical-align: sub; }

#banner .container .text p:nth-of-type(3) { margin: 0 auto; font-family: 'Montserrat'; font-weight: 700; font-size: 23px; color: #262626; letter-spacing: 1px; line-height: 27px; }

#banner .container .text p:nth-of-type(3) span { display: block; }

#banner .container .text p:nth-of-type(4) { margin: 0 auto; font-family: 'Raleway'; font-weight: 600; font-size: 18px; color: #666666; letter-spacing: 1px; line-height: 25px; }

/*-------------------------------section1-------------------------------*/
#services { background: url(../images/common/bgServices.jpg) no-repeat center top; background-size: cover; padding: 67px 0 54px; }

#services .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -ms-flex-pack: distribute; justify-content: space-around; }

#services .wrapper dl { max-width: 282px; width: 100%; }

#services .wrapper dl dt img { width: 100%; }

#services .wrapper dl dt img.firstSvc { max-width: 207px; }

#services .wrapper dl dd { margin: 0; }

#services .wrapper dl dd p { font-family: "Montserrat"; font-weight: 500; font-size: 18px; color: #59595D; line-height: 160%; min-height: 51px; }

#services .wrapper dl dd a img { -webkit-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }

#services .wrapper dl dd a img:hover { -webkit-filter: grayscale(1) invert(1) brightness(130%); filter: grayscale(1) invert(1) brightness(130%); }

/*-------------------------------section2-------------------------------*/
#about { background: url(../images/common/bgAbout.jpg) no-repeat right top; background-size: 69.3125% 100%; padding: 85px 0; }

#about .row { max-width: 100%; }

#about .abtLeft { position: relative; width: 34.625%; margin: 0 auto 0 0; text-align: left; background: #FFF; -webkit-box-shadow: 10px 0 20px -5px; box-shadow: 10px 0 20px -5px; }

#about .abtLeft::before { content: ''; width: 10px; height: 200px; background: #CE3438; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#about .abtLeft .text { background: #FFFFFF; text-align: left; max-width: 250px; width: 100%; margin: 0 91px 0 auto; padding: 70px 0; }

#about .abtLeft .text h1 { font-family: "Montserrat"; font-weight: 600; font-size: 30px; color: #000000; letter-spacing: 6px; line-height: 160%; }

#about .abtLeft .text h1 span { display: block; }

#about .abtLeft .text p { font-family: 'Raleway'; font-weight: 400; font-size: 13px; color: #666666; line-height: 160%; }

#about .abtLeft .text p span { display: block; }

#about .abtRight { padding: 70px 0; max-width: 841px; width: 100%; margin: 0 auto 0 53px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#about .abtRight .text { text-align: left; max-width: 568px; width: 100%; }

#about .abtRight .text h3 { font-family: "Montserrat"; font-weight: 600; font-size: 18px; color: #FFFFFF; letter-spacing: 5px; line-height: 25px; }

#about .abtRight .text p { font-family: "Raleway"; font-weight: 400; font-size: 16px; color: #FFF; margin: 0.5em auto; }

#about .abtRight .text ul { padding: 0 0 0 20px; margin-top: 30px; list-style: square inside url("../images/common/bullet.png"); }

#about .abtRight .text ul li { font-family: 'Raleway'; font-weight: 400; font-size: 16px; color: #FFFFFF; line-height: 200%; }

#about .abtRight .text ul li span { display: inline-block; vertical-align: middle; margin-left: 20px; }

/*-------------------------------section3-------------------------------*/
#service2 { padding: 53px 0 51px; }

#service2 .wrapper { max-width: 1024px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: distribute; align-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#service2 .wrapper dl { max-width: 326px; }

#service2 .wrapper dl dt img { max-width: 100px; width: 100%; }

#service2 .wrapper dl dd { padding: 20px 0 0; margin: 0; }

#service2 .wrapper dl dd h4 { font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #5C5C5D; }

#service2 .wrapper dl dd p { font-family: "Raleway"; font-weight: 400; font-size: 13px; color: #666666; line-height: 160%; }

#service2 .wrapper dl dd .more { position: relative; font-family: "Montserrat"; font-size: 10px; font-weight: 600; height: 77px; color: #CD3338; max-width: 77px; }

#service2 .wrapper dl dd .more:after { content: ''; width: 70px; height: 6px; background: #CD3338; position: absolute; bottom: -15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#service2 .wrapper dl dd .more:hover:after { bottom: -25px; }

/*------------------------------section4------------------------------*/
#section4 { background: url(../Images/common/bgSection4.jpg) no-repeat center top; background-size: 100% 100%; padding: 51px 0 116px; }

#section4 .row { max-width: 100%; }

#section4 .s4Left { position: relative; background: #FFF; width: 34.625%; min-height: 444px; -webkit-box-shadow: 10px 0 40px -20px; box-shadow: 10px 0 40px -20px; }

#section4 .s4Left::before { content: ''; width: 10px; height: 200px; background: #CE3438; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#section4 .s4Right { padding: 155px 0; }

#section4 .s4Right h2 { margin-left: 117px; font-family: "Montserrat"; font-size: 30px; font-weight: 600; line-height: 160%; letter-spacing: 6px; color: #FFFFFF; }

#section4 .s4Right h2 span { display: block; }

/*-------------------------------secetion5-------------------------------*/
#section5 { background: url(../images/common/bgSection5.jpg) no-repeat center top; background-size: cover; padding: 108px 0 103px; }

#section5 h2 { font-family: "Montserrat"; font-size: 30px; font-weight: 600; line-height: 160%; letter-spacing: 6px; color: #FFFFFF; }

#section5 h2 span { display: block; }

/*footer*/
#footer { position: relative; background: url(../images/common/bgFooter.jpg) no-repeat center top; background-size: cover; padding: 67px 0 16px; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .row { max-width: 1170px; }

#footer .wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 0 0 67px; border-bottom: 1px solid #D6D6D6; }

#footer .wrapper .footLeft { text-align: left; }

#footer .wrapper .footLeft h2 { color: #000000; }

#footer .wrapper .footLeft2 { text-align: left; }

#footer .wrapper .footLeft2 h4 { margin-bottom: 25px; }

#footer .wrapper .footLeft2 p { margin: 0; font-family: "Raleway"; font-weight: 400; font-size: 16px; color: #666666; line-height: 200%; }

#footer .wrapper .footLeft2 p .ft-phone { padding-left: 43px; background: url(../images/common/icons-sprites.png) no-repeat 0 3px; }

#footer .wrapper .footLeft2 p .ft-email { padding-left: 43px; background: url(../images/common/icons-sprites.png) no-repeat 0 -30px; }

#footer .wrapper .footLeft2 p .ft-location { padding-left: 43px; background: url(../images/common/icons-sprites.png) no-repeat 0 -63px; }

#footer .wrapper .footLeft2 p .ft-location span { display: inline-block; vertical-align: top; }

#footer .wrapper .footLeft2 img { margin-top: 50px; }

#footer .wrapper .footMid { text-align: left; }

#footer .wrapper .footMid h4 { margin-bottom: 25px; }

#footer .wrapper .footMid ul { margin: 0; padding: 0; }

#footer .wrapper .footMid ul li { display: block; line-height: 200%; }

#footer .wrapper .footMid ul li a { font-family: "Raleway"; font-weight: 400; font-size: 16px; color: #666666; }

#footer .wrapper .footRight { max-width: 29px; width: 100%; }

#footer .wrapper .footRight p { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 211px; -ms-flex-line-pack: justify; align-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#footer .wrapper .footRight p a { font-family: "Socialico"; font-size: 30px; color: #000000; }

#footer .footBot { padding: 47px 0 20px; }

#footer .footBot .footLogo { max-width: 465px; width: 100%; margin-bottom: 70px; }

#footer .footBot .copy, #footer .footBot .silver { margin: 0 auto; font-family: "Montserrat"; font-weight: 400; font-size: 10px; color: #666666; letter-spacing: 6px; line-height: 120%; }

#footer::after { content: ''; width: 100%; height: 3px; position: absolute; bottom: 0; left: 0; right: 0; background: -webkit-gradient(linear, left top, right top, color-stop(30%, #CE3438), color-stop(0, #262627)); background: -webkit-linear-gradient(left, #CE3438 30%, #262627 0); background: -o-linear-gradient(left, #CE3438 30%, #262627 0); background: linear-gradient(to right, #CE3438 30%, #262627 0); }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { #about .abtRight { max-width: 831px; width: 61%; }
  #about .abtRight .text { width: 68%; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  .wrapper{justify-content: space-around}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
