/*------------------------------section4------------------------------*/
#section4 {
  background: url(../Images/common/bgSection4.jpg) no-repeat center top;
  background-size: 100% 100%; }
  #section4 .row {
    max-width: 100%; }
  #section4 .s4Left {
    width: 34.625%;
    min-height: 444px; }
    #section4 .s4Left::before {
      content: '';
      width: 10px;
      height: 200px;
      background: #CE3438;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
